.main-container {
  height: 100%;
  padding: 5px 15px;
  h2 {
    margin: 0;
  }
  .main-wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: flex-start;
    }
    padding-top: 10px;
    .filter-wrapper {
      @media screen and (min-width: 768px) {
        flex-basis: 15%;
      }
      background-color: white;
      border-radius: 10px;
      margin-bottom: 10px;
      @media screen and (min-width: 768px) {
        margin-right: 10px;
      }
      padding: 5px;
    }
    .filter-content__wrapper {
      @media screen and (min-width: 768px) {
        flex-basis: 85%;
        display: flex;
        flex-wrap: wrap;
      }
      &--card {
        @media screen and (min-width: 768px) {
          width: 24%;
        }
        width: 100%;
        box-sizing: border-box;
        margin-right: 10px;
        padding: 10px;
        background: white;
        margin-bottom: 10px;
        border-radius: 10px;
        .img-wrapper {
          background-color: #cccccc;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
        .cards-content__wrapper {
          padding-top: 10px;
          & > strong {
            color: mediumpurple;
          }
          .mission-details {
            span {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}

.footer {
  text-align: center;
  padding: 30px 0;
}